/* Styles from the GreenSock website */

body {
    font-weight: 300;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #242424;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding: 0;
    margin-bottom: 1px;
}

.aboutme {
    margin: 5px;
    padding: 10px 50px 10px 50px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: white;
    text-align: right;
    font-size: 200%;
    color: white;
}

.ipsType_right {
    text-align: right;
}

.ipsType_center {
    text-align: center;
}

.cInnerContent {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.ipsSpacer_bottom_double {
    margin-bottom: 30px;
}

.ipsGrid {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.ipsGrid::before,
.ipsGrid::after {
    display: table;
    content: "";
    line-height: 0;
}

.ipsGrid>[class*="ipsGrid_span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
}

.ipsGrid>.ipsGrid_span5 {
    width: 20.42553191489362%;
}

.ipsGrid>.ipsGrid_span7 {
    width: 57.44680851063829%;
}

.ipsGrid>[class*="ipsGrid_span"] {
    float: left;
    margin-left: 2%;
}

.ipsGrid>[class*="ipsGrid_span"]:first-child {
    margin-left: 0;
}

.feature {
    display: flex;
    align-items: center;
}

.card {
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
    /*   transition: 0.3s; */
}

.featured-image-container .card {
    padding: 10px;
    height: 0;
    padding-bottom: calc(100% - 10px);
}

h2.heading_large {
    font-size: 1.8em;
}

img {
    max-width: 100%;
}

.header-section {
    margin: 200px auto;
}

.gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
}

.link {
    color: aquamarine;
}

[class^="icon"] {
    top: 8px;
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 5px;
    fill: #242424;
}